<!DOCTYPE html>



<html xmlns:th = "http://www.thymeleaf.org">

<head>

	<meta charset="UTF-8">

	<title>課題3</title>

</head>

<br>

	
	<h1>引き算</h1>
	
	
	
	<br th:action="@{/calc}" method = "POST" th:object = "${form}">
		
		<input type = "text" th:field = "*{val1}"> +
		<input type = "text" th:field = "*{val2}">
		=<span th:text = "${ans}"></span>
		<br/></br>
		<input type = "submit" value = "計算">
		
		
	</form>
	
<!--	<from action = "calculationAnswer" method = "get" >-->
		
<!--		<input type = "number" name = "num1"> --->
		
<!--		<input type = "number" name = "num2">-->
		
<!--		<button type = "submit"> = </button>-->
		
<!--		<p th:text = "${n1}"></p>-->
		
<!--	</from>-->
	
	
	
</body>
</html>